Repository visgl/luma.gl, pull requests merged in 2018-05, with the labels that each got.

#458 Fix failing canCompileGLGSExtension browser test
  src/webgl-context/context-features.js
  test/src/webgl-context/context-features.spec.js
Labels: code, test

#529 Move shadertools files into submodule structure
  src/core/model.js
  src/index.js
  src/shadertools/src/index.js
  src/shadertools/src/lib/assemble-shaders.js
  src/shadertools/src/lib/platform-defines.js
  src/shadertools/src/lib/shader-cache.js
  src/shadertools/src/lib/shader-modules.js
  src/shadertools/src/modules/diffuse/diffuse.js
  src/shadertools/src/modules/dirlight/dirlight.js
  src/shadertools/src/modules/fog/README.md
  src/shadertools/src/modules/fog/index.js
  src/shadertools/src/modules/fp32/README.md
  src/shadertools/src/modules/fp32/fp32.js
  src/shadertools/src/modules/fp64/README.md
  src/shadertools/src/modules/fp64/fp64-arithmetic.glsl.js
  src/shadertools/src/modules/fp64/fp64-arithmetic.spec.js
  src/shadertools/src/modules/fp64/fp64-functions.glsl.js
  src/shadertools/src/modules/fp64/fp64-functions.spec.js
  src/shadertools/src/modules/fp64/fp64-test-utils.js
  src/shadertools/src/modules/fp64/fp64-utils.js
  src/shadertools/src/modules/fp64/fp64.js
  src/shadertools/src/modules/fp64/test-deprecated/fp64-shader.spec.js
  src/shadertools/src/modules/fp64/test-deprecated/fs.glsl
  src/shadertools/src/modules/fp64/test-deprecated/index.html
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_add.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_cos.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_div.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_exp.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_log.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_mul.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_radians.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_sin.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_sqrt.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_sub.glsl
  src/shadertools/src/modules/fp64/test-deprecated/vs_float_tan.glsl
  src/shadertools/src/modules/fp64/test-deprecated/webpack.config.js
  src/shadertools/src/modules/geometry/geometry.js
  src/shadertools/src/modules/lighting/README.md
  src/shadertools/src/modules/lighting/lighting-common.glsl.js
  src/shadertools/src/modules/lighting/lighting-fragment.glsl.js
  src/shadertools/src/modules/lighting/lighting-vertex.glsl.js
  src/shadertools/src/modules/lighting/lighting.js
  src/shadertools/src/modules/module-injectors.js
  src/shadertools/src/modules/picking/README.md
  src/shadertools/src/modules/picking/picking.js
  src/shadertools/src/modules/project/README.md
  src/shadertools/src/modules/project/project.js
  src/shadertools/src/modules/project/uniforms.glsl
  src/shadertools/src/shaders/default-fragment.glsl.js
  src/shadertools/src/shaders/default-uniforms.js
  src/shadertools/src/shaders/default-vertex.glsl.js
  src/shadertools/src/shaders/index.js
  src/shadertools/src/shaders/modular-fragment.glsl.js
  src/shadertools/src/shaders/modular-vertex.glsl.js
  test/src/shadertools/lib/shader-modules.spec.js
Labels: chore

#527 Add GLSL 3.00 vs 1.00 reference
  docs/api-reference/shadertools/glsl-reference.md
Labels: chore, doc
